<h1><%=@user.ln+" (#{@user.sn})"%></h1>
<p>
  <strong>API Key:</strong>
  <%=@user.api_key%>
</p>
<%= link_to 'Back', :action => :index %>
<%=link_to "Delete",{:action=>:delete, :id => @user.api_key}, :data => {:confirm=>"Are you sure you want to delete this user?"}%>
<%=link_to "Edit",{:action=>:edit, :id => @user.api_key}%>
